@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); /*Font for the website*/

html {
    overflow-x: hidden; 
    height: 100%; 
    scrollbar-width: auto; 
}

/*BODY*/
body 
{
    height: 100%; 
    background-color: #76C77E; 
    margin: 0; 
    padding: 0; 
}

/*TITLE*/
h1 
{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    font-size: 2.8vw;

}

/*TEXT*/
h2 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600; 
    font-size: 1.5vw; 
}



/*HEADER*/
.header 
{
    max-width: 100vw;
    z-index: 1000; 
    height: 3.5vw; 
    position: fixed; 
    width: 100vw; 
    background-color: rgba(17, 78, 20, 0.55);

    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/*NAVIGATION BAR*/
.nav 
{
    display: flex; 
    justify-content: space-between; 
    width: 75vw; 
    margin: 0 auto; 
}

.nav a 
{
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5vw; 
    font-weight: 600;
    color: white; 
    text-decoration: none; 
    letter-spacing: normal; 
    transition: .2s; 
}

.nav a:hover 
{
    transform: translateY(2%); 
    color: #ccc; 
}

/* FOOTER */

.footer {
    width: 100%;
    height: 4.65vw;
    background-color: #114E14; 
    display: flex;
    align-items: center; 
    justify-content: center;
}


.footer_content {
    width: 95vw; 
    display: flex; 
    margin: auto; 
    justify-content: space-between; 
}

.footer_text {
    font-size: 1.425vw; 
    color: white;
    font-weight: 400; 
    display: flex;
    margin: auto 0; 
}

.footer_images {
    width: 15vw; 
    justify-content: space-between; 
    display: flex;
}

.footer_img {
    height: 3vw; 
    width: auto; 
    margin: auto 0; 
    cursor: pointer;
}

/*HOME-PAGE*/

.welcome {
    max-width: 100%; 
    width: 100vw; 
    height: 95vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 0;
}

.heading {
    font-family: 'Anonymous Pro', sans-serif; 
    font-weight: bold;
    width: 200vw; 
    height: 20vw; 
    text-align: left; 
    margin-left: 15vw; 
    font-size: 4vw; 
    color: black; 
    white-space: pre-line; 
    display: inline-block;
}

/*Content 1 */

.content1_container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #114E14; 
    height: 100vh; 
}

.content1 {
    width: 80vw; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
}

.content1_text {
    color: #000; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    text-align: left; 
    width: 35vw; 
}

.content1_container img {
    border-radius: .5vw; /* Set the border radius of the image to make it slightly rounded */
    object-fit: cover; /* Scale the image to cover the container while preserving its aspect ratio */
    width: 40vw; /* Set the width of the image to 40% of the viewport width */
    height: 25vw; /* Set the height of the image to 25% of the viewport width */
}

/* CONTENT 2 */

.content2_container {
    display: flex; /* Display the container as a flex container */
    align-items: center; /* Center align the items vertically */
    justify-content: center; /* Center align the items horizontally */
    background-color: 
    #76C77E; /* Set the background color to a dark gray */
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.content2 {
    width: 80vw; /* Set the width of the content container to 80% of the viewport width */
    display: flex; /* Display the content container as a flex container */
    flex-direction: row-reverse; /* Arrange the child elements in a reversed row */
    justify-content: space-between; /* Distribute the child elements with equal space between them */
}

.content2_text {
    color: #fff; /* Set the text color to white */
    display: flex; /* Display the text container as a flex container */
    flex-direction: column; /* Arrange the child elements in a column */
    justify-content: space-around; /* Distribute the child elements with equal space around them */
    text-align: left; /* Align the text to the left */
    width: 35vw; /* Set the width of the text container to 35% of the viewport width */
}

.content2_container img {
    border-radius: .5vw; /* Set the border radius of the image to make it slightly rounded */
    object-fit: cover; /* Scale the image to cover the container while preserving its aspect ratio */
    width: 40vw; /* Set the width of the image to 40% of the viewport width */
    height: 25vw; /* Set the height of the image to 25% of the viewport width */
}

/* CONTENT 3 */

.content3_container {
    display: flex; /* Display the container as a flex container */
    align-items: center; /* Center align the items vertically */
    justify-content: center; /* Center align the items horizontally */
    background-color: #114E14; /* Set the background color to a light gray */
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.content3 {
    width: 80vw; /* Set the width of the content container to 80% of the viewport width */
    display: flex; /* Display the content container as a flex container */
    flex-direction: row; /* Arrange the child elements in a row */
    justify-content: space-between; /* Distribute the child elements with equal space between them */
}

.content3_text {
    color: #000; /* Set the text color to black */
    display: flex; /* Display the text container as a flex container */
    flex-direction: column; /* Arrange the child elements in a column */
    justify-content: space-around; /* Distribute the child elements with equal space around them */
    text-align: left; /* Align the text to the left */
    width: 35.8vw; /* Set the width of the text container to 35% of the viewport width */
}

.content3_container img {
    border-radius: .5vw; /* Set the border radius of the image to make it slightly rounded */
    object-fit: cover; /* Scale the image to cover the container while preserving its aspect ratio */
    width: 40vw; /* Set the width of the image to 40% of the viewport width */
    height: 25vw; 
}

/*Content 4*/

.content4_container {
    display: flex; /* Display the container as a flex container */
    align-items: center; /* Center align the items vertically */
    justify-content: center; /* Center align the items horizontally */
    background-color: #76C77E; /* Set the background color to a dark gray */
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.content4 {
    width: 80vw; /* Set the width of the content container to 80% of the viewport width */
    display: flex; /* Display the content container as a flex container */
    flex-direction: row-reverse; /* Arrange the child elements in a reversed row */
    justify-content: space-between; /* Distribute the child elements with equal space between them */
}

.content4_text {
    color: #fff; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    text-align: left; 
    width: 35vw; 
}

.content4_container img {
    border-radius: .5vw; 
    object-fit: cover; 
    width: 40vw; 
    height: 25vw; 
}

/* ABOUT US */

.about-us_content 
{ 
    height: 100vh; 
    width: 100vw; 
    display: flex; 
    flex-direction: column; 
    gap: 3vh; 
    justify-content: center; 
    align-items: center; 
}

.about-us-text
{
    color: #fff; 
}

.programmers{
    width: 70vw; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.programmer_card 
{
    width: 10vw; 
    height: 27vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    text-align: center; 
}

.programmer_image 
{
    width: 12vw;
    min-width: 10vw; 
    min-height: 15vw; 
    object-fit: cover; 
}

.programmer_name {
    margin-top: 2vh; 
    width: 10vw;
    color: #fff; 
    font-size: 2vw; 
    font-weight: 600; 
}

.programmer_role 
{
    opacity: 0; 
    position: absolute; 
    height: 15vw; 
    width: 12vw; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    transition: .2s; 
}

.programmer_role:hover 
{
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.75); 
}



/*Comments*/

.comments_section {
    background-color: #76C77E; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.comments_section form {
    align-items: center; 
    width: 40vw; 
    height: 30vw; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
}

.comments_section h1 {
    color: white; 
    font-size: 2.3vw; 
    text-align: center; 
}

.input_section input, textarea {
    border-radius: .1vw;
    outline: none; 
    font-size: 1vw; 
    font-weight: 600; 
    font-family: 'Montserrat', sans-serif; 
    border: .25vw solid #181818; 
    padding: .5vw; 
    box-sizing: border-box; 
    background-color: #326236; 
    color: white; 
}

.input_section input:focus, textarea:focus {
    outline: .15vw solid #00000063; 
}

.input_section input {
    width: 40vw; 
    height: 3vw; 
}

.input_section textarea {
    resize: none; 
    width: 40vw; 
    height: 12vw; 
}

.comments_section button {
    border-radius: .2vw; 
    color: #fff;
    font-size: 1.3vw; 
    width: 7vw; 
    height: 3vw; 
    border: none; 
    background-color: #0C0B0B; 
    transition: .2s; 
}

.comments_section button:hover {
    background-color: #161616; 
    cursor: pointer; 
}


.about_section
{
    background-color:#326236;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 90vh;
    width: 80vh;
    margin-left: 3vw;
    text-decoration: bold;
    
}

.section_text{
    margin-bottom: 30vh;

    margin-left: 30vw;

}

.comments_section img{
    border-radius: .5vw; 
    width: 40vw; 
    height: 25vw;

}

/*CONTACT-US*/

.contacts{
    width: 70vw; 
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.contact
{
    width: 10vw; 
    height: 27vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    text-align: center;
    
}

.contacts_image 
{
    width: 12vw;
    min-width: 12vw; 
    min-height: 12vw; 
    object-fit: cover; 
}

.contacts_text
{
    opacity: 0; 
    position: absolute; 
    height: 15vw; 
    width: 12vw; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
 
}

